<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Syllabuss</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <div id="splash-overlay">
    <div class="splash-message">Welcome (name if we'll have accounts)/ to Syllabuss.<br>Have a wonderful day!</div>
  </div>
  <script src="../javascript/splash.js"></script>
  <div class="container">
    <div class="quadrant q1">
      <h2 class="title">Sisu or something idk</h2>
      <ul class="dropdown-menu">
        <li>Course Planner</li>
        <li>Submissive</li>
        <li>Visions</li>
        <li>Course Planner</li>
        <li>Submissive</li>
        <li>Visions</li>
      </ul>
    </div>
    <div class="quadrant q2">
      <h2 class="title">Discussion Forum</h2>
        <ul class="dropdown-menu">
          <li>Option 1</li>
          <li>Option 2</li>
          <li>Option 3</li>
        </ul>
    </div>
    <div class="quadrant q3">
      <h2 class="title">Moodle</h2>
      <!--we could even have individual course pages on moodle as options here, maybe even assigments?? in the future-->
        <ul class="dropdown-menu">
          <li>
            Course 1
            <ul class="submenu">
              <li>Lecture Notes</li>
              <li>Lecture Notes</li>
              <li>Lecture Notes</li>
            </ul>
          </li>
          <li>
            Joe 2
            <ul class="submenu">
              <li>Projects</li>
              <li>Projects</li>
            </ul>
          </li>
          <li>
            Mamma 3
            <ul class="submenu">
              <li>Projects</li>
              <li>Fekak</li>
            </ul>
          </li>
        </ul>
    </div>
    <div class="quadrant q4">
      <h2 class="title"><a href="../Alumni Search/alumni_search_ui.html" target="_blank" rel="noopener noreferrer">Alumni Search</a></h2>
        <ul class="dropdown-menu">
          <li>Option 1</li>
          <li>Option 2</li>
          <li>Option 3</li>
        </ul>
    </div>
    <!--The middle button, which could take us to our organization's homepage-->
    <div class="circle"></div>
  </div>
  <div class="animated-background"></div>
  <script src="../javascript/background-animation.js"></script>
</body>
</html>
