<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Discussion Forum</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body>

<div class="container">
  <h1 class="text-center">Discussion Forum</h1>

  <!-- Forum -->
  <div class="panel panel-default">
    <div class="panel-heading"><strong>Categories</strong></div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item"><a href="#">General</a></li>
        <li class="list-group-item"><a href="#">Academics</a></li>
        <li class="list-group-item"><a href="#">Q&A</a></li>
        <li class="list-group-item"><a href="#">University Life</a></li>
      </ul>
    </div>
  </div>

  <!-- Thread List -->
  <div class="panel panel-primary">
    <div class="panel-heading">General Discussion - Threads</div>
    <ul class="list-group">
      <li class="list-group-item">
        <a href="#">Test Post</a>
        <span class="badge">5 replies</span>
      </li>
      <li class="list-group-item">
        <a href="#">Test post 2</a>
        <span class="badge">12 replies</span>
      </li>
    </ul>
  </div>

  <!-- Thread View -->
  <div class="panel panel-info">
    <div class="panel-heading">Welcome to the disussion!</div>
    <div class="panel-body">
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">GOON 1</h4>
          tung tung tung tung tugn sahurrrr
        </div>
      </div>

      <hr>

      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">i_like_femboys_6969</h4>
          i like femboys btw
        </div>
      </div>

      <!-- Replying and shi -->
      <hr>
      <form>
        <div class="form-group">
          <label for="reply">Your comment</label>
          <textarea class="form-control" rows="3" id="reply" placeholder="Write a comment..."></textarea>
        </div>
        <button type="submit" class="btn btn-success">Post</button>
      </form>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
